# Mantener las API Keys en local de forma segura
.env
backend/.env
frontend/.env.local

# Carpetas ocultas del sistema y de Python
__pycache__/
*.pyc
.vscode/

# Dependencias
node_modules/
/node_modules

conversations.json
.env
backend/.env

.venv/
dist/